.specialty__tables {
    display: block;
    width: 80%;
    align-items: center;
}

.specialty__tables h1{
    font-size: 28px;
    font-weight: 500;
}

.specialty__table-title{
    display: flex;
    background-color: #E6E6E6;
    gap: 5px;
    margin-bottom: 15px;
    align-items: center;
    cursor: pointer;
    padding: 5px;
}

.specialty {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.specialty__icon {
    margin-right: 10px;
    margin-left: 10px;
}
.table-container {
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.specialty__table {
    width: 95%;
    border-collapse: collapse; /* Remove extra space between table cells */
}

.specialty__table th, .specialty__table td {
    padding: 5px; /* Reduce the padding to make rows smaller */
    border: none; /* Remove all borders */
}

.specialty__table th {
    background-color: #f4f4f4; /* Header background color */
}

.specialty__table td {
    border-right: 1px solid #ccc; /* Add border between columns */
}

.specialty__table td:last-child {
    border-right: none; /* Remove right border for the last column */
}

.odd-row {    
    background-color: #E6E6E6;
}

.even-row {    
    background-color: white;
}

.specialty__background-container {
    position: relative;
    width: 100%;
    min-height: 5rem;
    height: 10rem;
    overflow: hidden;
}

.specialty__background {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/Landing/Imagen-de-fondo-low2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    display: block;
}

.specialty__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    flex-direction: column;
}

.specialty__text-container {
    width: 80%;
    max-width: 900px;
    text-align: justify;
}

.specialty__text-container h1 {
    font-size: 3.8em;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.specialty__text-container p {
    font-size: 1.2em;
    margin: 0;
    word-wrap: break-word;
    display: inline-block;
    width: 100%;
}

.specialty__client-h1 {
    position: relative;
    display: inline-block;
    text-align: justify;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.specialty__client-container {
    position: relative;
    width: 100%;
    height: 5rem;
    margin: 10px;
    margin-bottom: 20px;
}

.specialty__text-client {
    width: auto;
    text-align: justify;
    font-size: 1.1em;
}

.specialty__client-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: black;
}

@media screen and (max-width: 1300px) {
    .specialty__client-container {
        height: 9rem;
    }

    .specialty__text-client h1 {
        font-size: 15px;
    }
}
