/* Estilos generales del menú */
.header {
  width: 100%;
  min-width: 500px;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;  
  height: calc(var(--header-height) + 1rem);  
}

.nav__logo {
  color: var(--title-color);
  display: flex;  
  border-right: 2px solid #AA2B27; /* Línea roja debajo del texto */
}

.nav__logo-text{
  color: var(--title-color);
  padding: 10px;
}

.nav .nav__toggle, .nav__close {
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  height: 4rem;
  align-items: center;
}

.nav__item {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.nav__item:hover {
  background-color: #ca2128;
  cursor: pointer;
}

.nav__item.active .nav__link {
  color: white; /* Cambia el color a tu preferencia */
}

.nav__item.active{
  background-color: #666666;
}

.nav__link {
  color: var(--title-color);
  transition: color 0.4s;
}

.nav__link:hover {
  cursor: pointer;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.show-menu {
  right: 0;
}

@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(0, 0%, 6%, 0.2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: right 0.4s;
  }

  .nav__logo-text{
    display: none;
  }
  .nav__logo {
    border:none;
  }

  .nav__menu.show-menu {
    right: 0;
  }
}

@media screen and (min-width: 1150px) {
  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
  }
}

.nav__logo-img {
  height: 40px;
  margin-right: 10px;
}

/* Estilos del menú desplegable */
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
  display: none; /* Inicialmente oculto */
  max-width: 700px;
  min-width: 300px;
}

.nav__item:hover .dropdown {
  display: block; /* Mostrar dropdown al pasar el mouse */
}

.dropdown__item {
  position: relative; /* Asegura que el item sea posicionado correctamente */
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: white;
  word-wrap: break-word;
}

.submenu {
  position: absolute;
  top: 0;
  left: 100%; /* Posición a la derecha del elemento padre */
  display: none; /* Inicialmente oculto */
  background-color: #f1f1f1; /* Fondo del submenu */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.dropdown__item:hover .submenu {
  display: block; /* Mostrar submenu al pasar el mouse */
}

.submenu__item {
  padding: 10px 20px;
  cursor: pointer;
  color: #333333; /* Color del texto */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.submenu__item:hover {
  background-color: #B3B3B3; /* Color de fondo al pasar el mouse */
}