/* Footer.css */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    background-color: black;
    color: lightgray;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
    font-size: 12px; /* letras chicas */
    height: 2.5rem;
    min-width: 500px;
}
