.uploaded-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed #1475cf;
    height: 150px;
    width: auto;
    cursor: pointer;
    border-radius: 5px;
}
  
.uploaded-row{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #e9f0ff;
    flex-direction: column;   
}
  
.upload-content{
    display: flex;
    gap:30px;
}

.input-label{
    display: flex;
    flex-direction: column;
    align-items: center;
}