.uploaded-form{
    display: flex;
    border: 2px solid #1475cf;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
}
  
.uploaded-row{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: #e9f0ff;
    flex-direction: column;  
    
}
.input-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;    
    cursor: pointer;
}

.input-label p{
    font-size: 18px;
}