@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --header-height: 3rem;
  --first-color: hsl(28, 88%, 62%);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: #000000;
  --body-font: "Karla", sans-serif;
  --second-font: "Karla", cursive;
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
  --font-semi-bold: 600;
  --z-tooltip: 10;
  --z-fixed: 100;
}

body, html {
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.margin0{
  margin: 0;
}
/*Animacion*/
.fastTransition{
  transition: 0.3s;
}

.fadeInUpAbsolute{
  animation: fadeInUpCnter 0.8s linear;
}
.fadeIn{
  animation: fadeIn 0.8s linear;
}

@keyframes fadeInUpCnter {
  0% {
    opacity: 0;
    transform: translate(0%, 40%);
  }
  50%{
    transform: translate(0%, 20%);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hide{
  display: none;
}

/*align css*/
  .centradoTotal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }

/*flexbox*/
.flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.row{
  flex-direction: row;
}
.spaceAround{
  justify-content: space-around;
}
.flexEnd{
  justify-content: flex-end;
}
.centerItems{
  align-items: center;
}

.justifyRight{
  align-items: flex-end;
  flex-direction: column;
}

.spaceBetween{
  justify-content: space-between;
}
.wrap{
  flex-wrap: wrap;
}
.centerContent{
  justify-content: center;
}
.flexEnd{
  align-items: flex-end;
}

/*font*/
.bold{
  font-weight: bold;;
}